
body {
  font-family: 'Arial';
  padding: 20px;
  background-color: #f9f9f9;
}
.song, .anime-card {
  border: 1px solid #ccc;
  border-radius: 10px;
  background: white;
  padding: 10px;
  margin: 10px;
  display: inline-block;
  width: 200px;
  vertical-align: top;
}
img {
  width: 100%;
  border-radius: 10px;
}
